.btn:hover {
  transition: 0.2s all;
  animation: btn forwards ease-in-out 0.65s;
}
@keyframes btn {
  20% {
    transform: perspective(400px) rotateZ(5deg) rotateY(6deg);
  }
  50% {
    transform: perspective(400px) rotateZ(-1.8deg) rotateY(-5deg);
  }
  70% {
    transform: perspective(400px) rotateZ(1.8deg) rotateY(1.5deg);
  }
  100% {
    transform: perspective(400px) rotateZ(0deg) rotateY(0deg);
  }
}
