@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

@layer components {
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .li {
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
  }
  .li:hover {
    color: #e46c9e;
  }
  .flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

ul {
  text-decoration: none;
}
li {
  list-style-type: none;
}
