.w {
  background: linear-gradient(
    360deg,
    rgba(19, 22, 40, 0.99) 0%,
    rgba(32, 33, 47, 1) 100%
  );
}
.list {
  position: relative;
}
.hor {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2a2b4d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ver:nth-child(2)::after,
.ver:nth-child(3)::after,
.ver:nth-child(5)::after,
.ver:nth-child(6)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 90%;
  background-color: #2a2b4d;
}

.horEle::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #2a2b4d;
}
